@charset "UTF-8";

h1 {
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: lightgrey;

    /* 
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
    **simplificado abaixo:** 
    */

    border: 10px solid darkslategrey;
    
    /*
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
    
    padding: 10px;

    /*
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    */

    margin: 20px auto 40px auto;

    /*
    outline-width: 5px;
    outline-style: dashed;
    outline-color: blue;
    */

    outline: 5px dashed salmon;
}

a {
    border-width: 10px;
    border-style: solid;
    border-color: red;
}